name: .NET for Test

on:
  pull_request:
    branches: [ "master" ]

jobs:
  test:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET 4
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '2.1.x'
    - name: Build
      run: dotnet build -c Release Iyzipay
    - name: NET45 Tests
      run: dotnet test -c Release Iyzipay.Tests -f net45
